* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(13, 13, 163);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  nav img {
    margin-left: -400px;
    padding: 10px 0;
    height: 100px;
    width: auto;
  }
  
  main .co {
    margin-top: 100px;
    width: 100%;
    height: auto;
  }
  
  .middle {
    display: flex;
    /* flex-direction: column; */
    padding: 10px 20px;
  }
  .title h2{
    /* margin-left: 60px; */
  }
  .contact-info {
    padding: 10px;
  }
  
  .contact-info li {
    /* margin-left: 70px; */

    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .contact-info p {
    
    font-size: 0.9rem;
    line-height: 1.8;
  }
  
  .form {
    background-color: rgb(222, 154, 44);
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
  }
  
  .sec-title h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .group{
    width: 100%;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    /* gap: 2px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .form-group .btn {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
  }
  
  @media (max-width: 320px) {
    nav img {
      margin: auto;
      height: 90px;
      width: 200px;
    }
  
    main .co {
      margin-top: 60px;
      width: 100%;
      height: 200px;
    }
  
    .middle {
      padding: 10px;
      display: flex;
      flex-direction: column;
    }
  
    .title h2 {
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 10px;
    }
  
    .contact-info p {
      font-size: 0.8rem;
    }
  
    .form {
      width: 90%;
      padding: 15px;
    }
  
    .form-group input,
    .form-group select {
      font-size: 0.8rem;
    }
  
    .form-group .btn {
      font-size: 0.9rem;
      padding: 10px;
    }
  }
   
  @media (max-width:768px){
    nav img{
        margin: auto;
    }
  }